<%- include("partials/header")%>
<script src="https://cdnjs.cloudflare.com/ajax/libs/Chart.js/2.9.4/Chart.js"></script>
<canvas id="myChart" style="width:100%;max-width:600px;height:40%;"></canvas>

<script>
	var xValues = ["Global Footprint", "country Footprint", "Your Footprint"];
	var yValues = [10, 10, 50,25,36];
var barColors = [

	"#00ffab",
	"#4fb056",
	"#1ef10e",
		"#00ffab",
		"#4fb056"

];

new Chart("myChart", {
	type: "pie",
	data: {
		labels: xValues,
		datasets: [{
			backgroundColor: barColors,
			data: yValues
		}]
	},
	options: {
		title: {
			display: true,
			text:  "Total carbon footprint analysis."
		}
	}
});
</script>
<style >
	body{

		background-position: center center;
		background-repeat: no-repeat;
		background-attachment: fixed;
		background-size: cover;
		background-color:#fff;
		color:black;
		 /* background-image: url("https://wallpapercave.com/wp/wp5820973.jpg"); */



	 }
	 .flex{
		 display:flex;
		 flex-direction:row;
		 align-items:center;
		 justify-content:center;
		 margin-top:7%;

	 }
	 .items{
		 display:flex;
		flex-direction:column;
		align-items:center;
	 }


</style>

<h1>Your Total carbon footprint is : <%=carbon%> metric tons of CO2e.</h1>
<div class="flex">
	<div class="items">
		<% if(carbon>150){ %>

		<img style="height:150px;" src="https://calculator.carbonfootprint.com/blackfoot.gif" alt="">
		<br>
		<label for="">Your footprint</label>
		<% } else if(carbon <150){%>

		<img style="height:50px;" src="https://calculator.carbonfootprint.com/blackfoot.gif" alt="">
		<br >
		<label for="">Your footprint</label>
		<%}%>
  </div>
  <div class="items">
    <img style="height:200px;"src="https://calculator.carbonfootprint.com/blackfoot.gif" alt="">
		<br >
  <label for="">Your country footprint</label>
  </div>
  <div class="items">
    <img style="height:70px;"src="https://calculator.carbonfootprint.com/blackfoot.gif" alt="">
		<br >
  <label for="">Global footprint</label>
  </div>
</div>
<div class="np-clear nextprev">
<a class="np-left " href="/logout">❮ Logout</a>
<a class="np-last" href="/clear">Clear 🗘</a>
<form class="" action="/results2" method="post">
	<button class="btn btn-success" type="submit" >For Detailed Analysis..
	Submit</button>
</form>

</div>






<%- include("partials/footer")%>
