<!DOCTYPE html>
<html>


<head>
	<meta charset="utf-8">
	<title>What is your carbon footprint?|Carbon Footprint Calculator</title>

		<link rel="icon" href="/images/fav.jpg">
	<meta charset="utf-8">
	<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
	<link rel="stylesheet" href="/css/sstyle.css">
</head>

<body>
	<!-- Header -->
	<header>
		<h1 class="main-heading">Calculate Your Carbon Footprint</h1>
		<p class="main-para">What's your carbon footprint? Use this interactive calculator to find out—and take action.</p>
	</header>
	<!-- Signup -->
	<div class="container" id="container">
		<div class="form-container sign-up-container">
			<form action="/register" method="POST">

				<h1>Create Account</h1>
				<span>or use your email for registration</span>


				<input type="email" name="username" class="form-control" placeholder="Email">

				<input type="password" placeholder="Password" name="password" class="form-control">
				<button type="submit">Sign Up</button>
			</form>
		</div>
		<!-- login -->
		<div class="form-container sign-in-container">
			<form action="/login" method="POST">
				<h1>Sign in</h1>
				<span>or use your account</span>

				<input type="email" placeholder="Email" name="username" class="form-control">
				<input type="password" name="password" class="form-control" placeholder="Password" />
				<button type="submit">Sign In</button>
			</form>
		</div>
		<div class="overlay-container">
			<div class="overlay">
				<div class="overlay-panel overlay-left">
					<h1>Welcome Back!</h1>
					<p>To keep connected with us please login with your personal info</p>
					<button class="ghost" id="signIn">Sign In</button>
				</div>
				<div class="overlay-panel overlay-right">
					<h1>Hello, Friend!</h1>
					<p>Enter your personal details and start calculating</p>
					<button class="ghost" id="signUp">Sign Up</button>
				</div>
			</div>
		</div>
	</div>
	<!-- Java Script -->
	<script type="text/javascript">
		const signUpButton = document.getElementById('signUp');
		const signInButton = document.getElementById('signIn');
		const container = document.getElementById('container');

		signUpButton.addEventListener('click', () => {
			container.classList.add("right-panel-active");
		});

		signInButton.addEventListener('click', () => {
			container.classList.remove("right-panel-active");


		});
	</script>
</body>

</html>
